@import "./template.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bluecolor;
}

.container {
  width: 75%;
  margin: 30px auto;
  border-radius: 9px;
  background-color: $beigecolor;
  button {
    padding: 7px 9px;
    border: none;
    border-radius: 9px;
    background-color: $greencolor;
    cursor: pointer;
    @include font;
    color: $beigecolor;
    font-size: 18px;
  }
  button:hover {
    background-color: $bluecolor;
  }
  .button-disabled {
    cursor: not-allowed;
  }
  .registration-container,
  .log-in-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: 0 auto;
    padding: 20px 5px;
    input {
      height: 30px;
    }
    button {
      margin: 10px 0;
    }
  }
  .add-task-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    input {
      width: 40%;
    }
  }
  .task-container {
    width: 85%;
    margin: 0 auto;
    padding: 20px 5px;
    .task:not(:last-child) {
      margin-bottom: 20px;
    }
    .task {
      padding: 5px 40px;
      display: flex;
      justify-content: space-between;
      border-radius: 9px;
      background-color: $bluecolor;
      p {
        @include font;
        font-size: 18px;
        color: $violetcolor;
      }
      input {
        width: 18px;
      }
    }
  }
  .span-validate {
    color: red;
  }
}
