@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap");

$greencolor: #2e958c;
$bluecolor: #99d0d3;
$beigecolor: #fce0d5;
$greycolor: #c8c3c9;
$violetcolor: #b47eb2;

@mixin font {
  font-family: "Noto Sans", sans-serif;
}
